form{
    background-color: rgba(145, 147, 162, 0.225);
    width: 400px;
    height: 600px;
    padding: auto;
    border-radius: 10px;
    margin: auto;
}

#in{
    color: black;
    width: 90%;
    padding: 8px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border-color: 1px solid ;
}

#reg{
    display: block;
    margin: 15px auto;
    margin-top: 30px;
    width: 170px;
    padding: 8px;
    border: none;
    border-radius: 5px;
}