form{
    background-color: rgba(145, 147, 162, 0.225);
    width: 400px;
    height: 600px;
    padding: auto;
    border-radius: 10px;
    margin: auto;
}

#in{
    color: black;
    background-color: rgba(255, 255, 0, 0.8);
    width: 90%;
    padding: 8px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border-color: 1px solid ;
}

#reg{
    display: block;
    background-color: yellow;
    margin: 15px auto;
    margin-top: 30px;
    width: 170px;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

#li{
    display: block;
    text-align: center;
}
label{
    margin: 5px;
}

h1{
    text-align: center;
    padding-top: 25px;
}
.setimg{
    position: fixed;
    top: 0px;
    left: 0px;    
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}