form{
    background-color: rgba(145, 147, 162, 0.225);
    width: 300px;
    height: 350px;
    margin-top: 180px;
    padding: auto;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: rgb(251, 233, 233);
}

h1{
    text-align: center;
    padding-top: 25px;
}
#in{
    color: black;
    background-color: rgba(255, 255, 0, 0.8);
    width: 90%;
    padding: 8px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border-color: 1px solid ;
}
#sub{
    display: block;
    margin: 15px auto;
    margin-top: 30px;
    width: 170px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: yellow;
}
#fp{
    text-align: right;
    display: block;
    margin-right: 5px;

}
#reg{
    display: block;
    text-align: center;

}
label{
    margin: 5px;
}

.setimg{
    position: fixed;
    top: 0px;
    left: 0px;    
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}